* {
  margin: 0px;
  padding: 0px;
  outline: 0!important;
}

body {
  line-height: 28px !important;
  font-size: 16px !important;
  color: #000;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
  letter-spacing: 1.2px !important;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul {
 margin-bottom: 0px;
}

.topnum{
  text-align: right;
padding-top: 4px;
padding-right: 0px;
}

.topnum ul li {
  float: right;
  padding: 0 10px;
}

.topbar {
  background:#ffd863;
  padding: 0px 0;
}

.topnum ul li a {
  color: #212529;
}

.topnum ul li i {
  color: #0aaeb8;
  padding-right: 5px;
}

.w3layouts-top-strip {
  border-top: 1px solid #e0e0e0;
  padding: 10px 0;
}

.topnum1{

padding: ;
padding: 6px 38px 0px;
color: #212529;
font-size: 16px;
font-weight: 600;
position: relative;
}

.topnum1 p{
  margin-bottom: 4px;
}


.topb{
  padding-left: 0px;
}

.logo {
  float: left;
  width: 250px;
}

.logo a {
  font-size: 40px;
  text-decoration: none;
  color: #212121;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.logo span {
  color: #86c724;
}

.w3ls-social-icons {
  margin-top: 7px;
  float: right;
}

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.w3ls-social-icons i, .w3ls-social i {
  font-size: 15px;
  border: 1px solid #212121;
  padding: 8px 10px;
  color: #212121;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -moz-transition: 0.5s all;
}


.header-left-info {
  display: block;
  float: left;
}

.header-left-info li {
  margin-right: 30px;
  float: left;
  line-height: 40px;
}

.header-label {
  display: block;
  float: left;
  font-size: 2em;
  margin-right: 15px;
  position: relative;
  top: 3px;
}


.agileits-contact-info {
  margin-top: 9px;
  float: right;
  margin-right: 15px;
}

.agileits-contact-info ul li {
  display: inline-block;
  font-size: 17px;
  color: #000;
  padding: 0 25px;
}


.agileits-contact-info ul li span {
  color: #129e36;
}

.glyphicon {
  position: relative;
  top: 15px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #777;
  font-size: 25px;
}

.agileits-contact-info ul li span {
  color: #129e36;
}

.agileits-contact-info ul li a {
  color: #000;
  vertical-align: text-bottom;
}

.navbar {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border: none;
  background: transparent !important;
  padding: 15px 15px;
  margin-bottom: 0px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.24);
}

.navbar-brand {
  padding: 0px 15px; 
}

/*.navbar-default {
  background-color: transparent !important;
}
*/
/*.navbar {
  margin-bottom: 0;
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
}*/

/*.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}*/
/*.navbar-nav {
  float: none;
  text-align: center;
}*/

/*.navbar-nav > li {
  display: inline-block;
  float: none;
}*/


.navbar-brand img {
    width: 338px;
margin-top: -12px;
}

.navbar-nav > li {
  display: inline-block;
  
}

.navbar-right .dropdown-menu {
  right: auto;
  left: 0;
}

.navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background: transparent;
  color: #000;
}

.navbar-default .navbar-nav > li > a {
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  padding: 15px 49.7px;
}


.navbar-default .navbar-nav > li > a {
  font-size: 15px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 2px;
  padding: 15px 15px;
}

.wdc-social li::before {
  position: relative;
  content: '/';
  opacity: .5;
}

.wdc-social li:first-child::before {
  display: inherit;
  content: '';
}

.wdc-social {
  margin: 0;
}

ul.list-inline > li, ol.list-inline > li {
  padding-right: 0;
  padding-left: 0;
}

.wdc-social li {
  line-height: 1;
  position: relative;
}

.wdc-social a {
  font-size: 16px;
  color: inherit;
  padding: 0 7px;
}

.wdc-social a {
  font-size: 16px;
  color: inherit;
  color: #13025e;
}

.topadd ul li {
  float: left;
  padding: 0 10px;
  color: #000;
}

.topadd ul li i {
  margin-right: 5px;
  color: #129e36;
}

.top-bar {
  background: #f9f9f9;
  /*padding: 8px 0;*/
}


.header-hightlight {
  float: left;
  font-weight: 400;
  line-height: 1;
  text-align: left;
}

.header-hightlight small {
  display: block;
  margin: 7px 0;
  opacity: .9;
  font-size: 80%;
  font-weight: 600;
  text-transform: uppercase;
}

.header-hightlight strong {
  color: #13025e;
}

.topadd a {
  color: #13025e;
}


.dropdown-menu > li > a {
  padding: 5px 20px;
  font-size: 15px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #065fb8;
}

.topfixed {
  position: relative;
  z-index: 999;
  left: 0px;
  right: 0px;
}

.toptime {
  float: right;
}

.toptime ul li a {
  color: #fff;
}

.toptime ul li i {
  color: #fff;
}


.hmabout {
  padding: 20px 0 80px;
}

.abdetail h2 {
  margin-bottom: 15px;
font-size: 20px;
font-weight: 700;
color: #fbb908;
}

.abdetail h2 span{
  color:#0e2b5c;
  font-size: 22px;
  padding-top: 3px;
  display: block;
}

.abdetail p{
  padding-bottom: 10px;
}

.abdetail a{
  color: #0e2b5c;
  font-weight: 600;
}

.abread a {
  background: #fbb908;
  padding: 12px 25px;
  color: #0e2b5c;
  box-shadow: 0px 5px 5px #9191915c;
  font-weight: 500;
  border: 1px solid #fbb908;
}

.abread a:hover{
  background-color: #fff;
  border: 1px solid #fbb908;
  color: #0e2b5c;
}

.abread {
  margin-top: 25px;
}

.projecthm {
  background: #1da1f3;
  padding: 50px 0;
}



.pjotm img {
  width: 100px;
  float: left;
  padding-right: 20px;
}

.pjotm h2 {
  color: #000;
  padding-top: 10px;
}

.pjotm p {
  color: #000;
  font-size: 15px;
}








.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


.serbg {
  background: #fff;
}

.serpad {
  padding: 20px;
}

.serpad h3 {
  color: #000;
  font-size: 13.9px;
  margin-top: 0px;
  text-transform: uppercase;
}

.serpad p {
  font-size: 13px;
}

.seread a {
  color: #1da1f3;
   font-size: 13px;
}


.reachhm {
    background: url(../images/bg-cta.jpg);
    background-attachment: fixed;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.reahdet {
  padding-top: 75px;
  padding-bottom: 34px;
}

.reahdet h2 {
    color: #fff;
    font-size:43px;
    margin-top: 0px;
}

.reahdet p {
  color: #000;
}

.reaccon a {
  background: #0aaeb8;
  padding: 15px 42px;
  color: #fff;
 /* border-radius: 30px;*/
}

.reaccon {
  margin-top: 40px;
}

.reqhm {
  background: #f7f7f7;
  padding: 30px 0 100px;
}

.enqicon img {
  width: 100px;
  float: left;
  padding-right: 20px; 
}

.enqicon i{
   float: left;
  padding-right: 20px; 
  font-size: 55px;
  color: #fbb908;
   width: 95px;
}

.enqpad {
  padding-top: 20px;
}

.enqtext {
  padding-top: 20px;
}


.enqicon {
  margin-bottom: 50px;
}

.whathm h2 {
  color: #000;
}

.whathm {
  padding: 54px 0;
}

.enqform {
  background: #1da1f3;
  float: left;
  padding: 10px 20px;
  background: linear-gradient(to right, #001652, #2145a9);
  background: url(../images/ourservicebg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.enqform h2 {
  color: #0e2b5c;
  padding-left: 20px;
  padding-bottom: 30px;
  font-size: 24px;
}

.enqform .form-control {
  border: 1px solid #0e2b5c66;
  border-radius: 0px;
  margin-bottom: 0px;
}

.my-btn4 {
    background: #fbb908 !important;
padding: 12px 25px;
color: #0e2b5c;
box-shadow: 0px 5px 5px #9191915c;
font-weight: 500;
border: 1px solid #fbb908 !important;
}


.footer {
    background: #1da1f3;
    padding: 50px 0;
    background-image: url(../images/bg-3.jpg);
}


.footerleft img {
    width: 200px;
    margin-bottom: 30px;
}

.footer_first_contact li {
    float: left;
    width: 100%;
    padding-bottom: 10px;
}

.footer_first_contact i {
    float: left;
}

.footer_first_contact li i:before {
    float: left;
    color: #fbb908;
    font-size: 17px;
    width: 6px;
    line-height: 25px;
}

.footer_first_contact li p {
    float: left;
    padding-left: 20px;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    font-weight: 300;
    width: calc(100% - 20px);
}

.footerlrft h3 {
    color: #fff;
margin-top: 15px;
font-weight: 700;
font-size: 20px;}

.footerul {
    margin-top: 20px;
}

.footerul li {
    padding: 5px 0;
}

.footerul li a {
    color: #fff;
}

.footerul li a i:before {
    margin-right: 14px;
    font-size: 6px;
    position: relative;
    top: -2px;
    color: #fbb908;
}

.footerbtm {
    margin-top: 60px;
    border-top: 1px solid #ffffff2e;
    padding-top: 30px;
}

.copyd p {
    color: #fff;
}

.copydr p {
    float: right;
    color: #fff;
}

.textwidget p {
  color: #fff;
}

.footerleft h3 {
    color: #fff;
margin-top: 15px;
font-weight: 700;
font-size: 20px;
}

ul.footer_first_contact {
  margin-top: 20px;
}

.textwidget p {
  margin-top: 20px;
}


.about, .serpgd, .whypg {
    padding: 50px 0 80px 0;
}


.about1 h1 {
    color: #06163a;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.3;
}

/*.line {
    width: 34%;
    height: 5px;
    background: #ff3614;
    margin: 20px 0;
}*/

.serdetsf h3 {
  color: #06163a;
  font-weight: 600;
}

.serdetsf ul li {
  list-style: disc;
}

.serdetsf ul {
  padding-left: 20px;
}



.contform {
    padding: 60px 0;
}


.enq-form p {
    color: #ff3614;
    font-weight: 600;
    font-style: italic;
}

.messages1 {
    color: green;
}
.enq-form input {
    width: 100%;
}

.form-control {
    position: relative;
    display: block;
    border: none;
    border-radius: 3px;
    border: 1px solid #ddd;
    box-shadow: none;
    font-size: 16px;
    height: 47px;
    -webkit-appearance: none;
}

textarea.form-control {
    height: auto;
}

.conbtn {
    border: 1px solid #ff3614;
    background: #ff3614;
    padding: 5px 27px;
    border-radius: 40px;
    color: #fff;
    margin-top: 30px;
}


.whydet h3 {
  color: #06163a;
  line-height: 1.3;
}

.whydet ul {
  padding-left: 20px;
}

.whydet ul li {
  list-style: disc;
}


.service_box {
    background-color: #ffffff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    border: 10px solid #d5d5d5;
    text-align: center;
    margin-bottom: 25px;
}

.service_box .service_img {
    position: relative;
}

.service_box .service_img img {
    width: 100%;
    height: auto;
}

.service_box .service_img::before {
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.service_box:hover > .service_img::before {
    opacity: .7;
    visibility: visible;
}

.service_box .service_img .icon-box {
    text-align: center;
    width: 77px;
    height: 75px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
}

.service_box .service_img .icon-box i {
    line-height: 75px;
    font-size: 38px;
    color: #38373C;
}

.service_box .service_details {
    padding: 10px 0 0px;
}

.service_details h3 {
    margin-bottom: 20px;
    font-weight: 600;
    color: #000;
}

.service_details p {
    color: #87868a;
    margin-bottom: 40px;
    width: 83%;
    margin-left: auto;
    margin-right: auto;
}

.service_box .btn-yellow {
    width: 100%;
    display: block;
    background-color: #F1F1F1;
}

.btn-yellow {
    background-color: #1da1f3;
    color: #38373c;
    padding: 17px 40px;
    display: inline-block;
    font-weight: 700;
    text-decoration: none !important;
    letter-spacing: 1px;
    font-size: 16px;
}

.service_box .btn-yellow:hover {
    color: #38373c;
}

.service_box:hover .btn-yellow {
    background-color: #1da1f3;
    color: #fff;
}

.service_box:hover {
    background-color: #38373c;
    color: #ffffff;
}

.service_box:hover p {
    color: #ffffff;
}

.service_details h3 a {
    display: block;
    color: inherit;
}

.service_box:hover h3 {
    color: #fff;
}



#callme {
    position: fixed;
    right: 30px;
    bottom: 100px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    opacity: 1;
    z-index: 99999;
}

#callme a i{
    position: absolute;
    padding-left: 18px;
    font-size: 45px;
    padding-top: 10px;
    color:#fff;
}

#callme #callmeMain {
    -moz-border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    border-radius: 50% !important;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: rgb(78, 217, 130);
    width: 70px;
    height: 70px;
    -webkit-animation: zcwmini2 1.5s 0s ease-out infinite;
    -moz-animation: zcwmini2 1.5s 0s ease-out infinite;
    animation: zcwmini2 1.5s 0s ease-out infinite;
}
#callme #callmeMain:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background-image: url(https://ss.zadarma.com/callbackWidget/images/mini.png);
    background-repeat: no-repeat;*/
    background-position: center center;
    -webkit-animation: zcwphone2 1.5s linear infinite;
    -moz-animation: zcwphone2 1.5s linear infinite;
    animation: zcwphone2 1.5s linear infinite;
}
/*@-webkit-keyframes zcwphone {*/
/*    0% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}*/
/*    25% {-ms-transform:rotate(30deg);-webkit-transform:rotate(30deg);transform:rotate(30deg);}*/
/*    50% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}*/
/*    75% {-ms-transform:rotate(-30deg);-webkit-transform:rotate(-30deg);transform:rotate(-30deg);}*/
/*    100% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}*/
/*}*/
/*@-moz-keyframes zcwphone {*/
/*    0% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}*/
/*    25% {-ms-transform:rotate(30deg);-webkit-transform:rotate(30deg);transform:rotate(30deg);}*/
/*    50% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}*/
/*    75% {-ms-transform:rotate(-30deg);-webkit-transform:rotate(-30deg);transform:rotate(-30deg);}*/
/*    100% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}*/
/*}*/
/*@keyframes zcwphone {*/
/*    0% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}*/
/*    25% {-ms-transform:rotate(30deg);-webkit-transform:rotate(30deg);transform:rotate(30deg);}*/
/*    50% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}*/
/*    75% {-ms-transform:rotate(-30deg);-webkit-transform:rotate(-30deg);transform:rotate(-30deg);}*/
/*    100% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}*/
/*}*/
/*@-webkit-keyframes zcwphone2 {*/
/*    0% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}*/
/*    25% {-ms-transform:rotate(30deg);-webkit-transform:rotate(30deg);transform:rotate(30deg);}*/
/*    50% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}*/
/*    75% {-ms-transform:rotate(-30deg);-webkit-transform:rotate(-30deg);transform:rotate(-30deg);}*/
/*    100% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}*/
/*}*/
/*@-moz-keyframes zcwphone2 {*/
/*    0% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}*/
/*    25% {-ms-transform:rotate(30deg);-webkit-transform:rotate(30deg);transform:rotate(30deg);}*/
/*    50% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}*/
/*    75% {-ms-transform:rotate(-30deg);-webkit-transform:rotate(-30deg);transform:rotate(-30deg);}*/
/*    100% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}*/
/*}*/
/*@keyframes zcwphone2 {*/
/*    0% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}*/
/*    25% {-ms-transform:rotate(30deg);-webkit-transform:rotate(30deg);transform:rotate(30deg);}*/
/*    50% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}*/
/*    75% {-ms-transform:rotate(-30deg);-webkit-transform:rotate(-30deg);transform:rotate(-30deg);}*/
/*    100% {-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg);}*/
/*}*/
/*@-webkit-keyframes zcwmini {*/
/*    0% {box-shadow: 0 0 8px 6px rgba(207,8,8, 0), 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(207,8,8, 0);}*/
/*    10% {box-shadow: 0 0 8px 6px , 0 0 12px 10px rgba(0,0,0,0), 0 0 12px 14px ;}*/
/*    100% {box-shadow: 0 0 8px 6px rgba(207,8,8, 0), 0 0 0 40px rgba(0,0,0,0), 0 0 0 40px rgba(207,8,8, 0);}*/
/*}*/
/*@-moz-keyframes zcwmini {*/
/*    0% {box-shadow: 0 0 8px 6px rgba(207,8,8, 0), 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(207,8,8, 0);}*/
/*    10% {box-shadow: 0 0 8px 6px , 0 0 12px 10px rgba(0,0,0,0), 0 0 12px 14px ;}*/
/*    100% {box-shadow: 0 0 8px 6px rgba(207,8,8, 0), 0 0 0 40px rgba(0,0,0,0), 0 0 0 40px rgba(207,8,8, 0);}*/
/*}*/
/*@keyframes zcwmini {*/
/*    0% {box-shadow: 0 0 8px 6px rgba(207,8,8, 0), 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(207,8,8, 0);}*/
/*    10% {box-shadow: 0 0 8px 6px , 0 0 12px 10px rgba(0,0,0,0), 0 0 12px 14px ;}*/
/*    100% {box-shadow: 0 0 8px 6px rgba(207,8,8, 0), 0 0 0 40px rgba(0,0,0,0), 0 0 0 40px rgba(207,8,8, 0);}*/
/*}*/
/*@-webkit-keyframes zcwmini2 {*/
/*    0% {box-shadow: 0 0 8px 6px rgba(207,8,8, 0), 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(207,8,8, 0);}*/
/*    10% {box-shadow: 0 0 8px 6px , 0 0 12px 10px rgba(0,0,0,0), 0 0 12px 14px ;}*/
/*    100% {box-shadow: 0 0 8px 6px rgba(207,8,8, 0), 0 0 0 40px rgba(0,0,0,0), 0 0 0 40px rgba(207,8,8, 0);}*/
/*}*/
/*@-moz-keyframes zcwmini2 {*/
/*    0% {box-shadow: 0 0 8px 6px rgba(207,8,8, 0), 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(207,8,8, 0);}*/
/*    10% {box-shadow: 0 0 8px 6px , 0 0 12px 10px rgba(0,0,0,0), 0 0 12px 14px ;}*/
/*    100% {box-shadow: 0 0 8px 6px rgba(207,8,8, 0), 0 0 0 40px rgba(0,0,0,0), 0 0 0 40px rgba(207,8,8, 0);}*/
/*}*/
/*@keyframes zcwmini2 {*/
/*    0% {box-shadow: 0 0 8px 6px rgba(207,8,8, 0), 0 0 0 0 rgba(0,0,0,0), 0 0 0 0 rgba(207,8,8, 0);}*/
/*    10% {box-shadow: 0 0 8px 6px , 0 0 12px 10px rgba(0,0,0,0), 0 0 12px 14px ;}*/
/*    100% {box-shadow: 0 0 8px 6px rgba(207,8,8, 0), 0 0 0 40px rgba(0,0,0,0), 0 0 0 40px rgba(207,8,8, 0);}*/
/*}*/
/*@media only screen and (max-width: 600px) {*/
/*#callme {*/
/*    position: fixed;*/
/*    right: 30px;*/
/*    bottom: 70px;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    cursor: pointer;*/
/*    opacity: 1;*/
/*    z-index: 99990;*/
/*}*/
/*#callme #callmeMain {*/
/*    -moz-border-radius: 50% !important;*/
/*    -webkit-border-radius: 50% !important;*/
/*    border-radius: 50% !important;*/
/*    -moz-background-clip: padding;*/
/*    -webkit-background-clip: padding-box;*/
/*    background-clip: padding-box;*/
/*    background-color:rgb(78, 217, 130);*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    -webkit-animation: zcwmini2 1.5s 0s ease-out infinite;*/
/*    -moz-animation: zcwmini2 1.5s 0s ease-out infinite;*/
/*    animation: zcwmini2 1.5s 0s ease-out infinite;*/
/*}*/
/*} */


/*test*/

.test{
  padding: 60px 0 80px;
}


/*Contact us*/

.space1 {
    padding: 35px 0 80px;
}

/*.title-section {
    max-width: 600px;
    width: auto;
}*/

.title-section.t-border h2 {
    padding-bottom: 11px;
    margin-bottom: 15px;
    color: #131313;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.3;
}

.title-section.t-border h2::before {
    content: '';
    display: none;
    height: 4px;
    width: 50px;
    background-color: var(--main-color);
    position: relative;
    left: 0;
    top: 10px;
}

.title-section.t-border h2::after, .title-section.text-left h4::after {
    content: '';
    display: block;
    width: 50px;
    border: 1px solid 
    #000;
    position: relative;
    left: 0;
    top: 10px;
    margin: 5px 0 0 0;
}

.title-desc b{
  color: #a90114;
}

.contact .cont-desc .other-cont-area {
    padding: 15px 8px;
    border-radius: 10px;
    margin-bottom: 20px !important;
}

.bg-color {
    background-color: 
    #f7fcff;
}

.contact span {
    display: inline-block;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    float: left;
}

.contact .cont-desc .icon {
    width: 50px;
    height: 50px;
    border-right: 1px solid #fbb908;
    font-size: 36px;
    color: #fbb908;
}

/*.contact .form-desc {
    background-color: #f4c201;
    padding: 40px 40px 60px 40px;
    border-radius: 10px;
    text-align: center;
}*/

/*.contact .form-desc h3 {
    font-size: 18px;
    background-color:#192538;
    color:#fff;
    border-radius: 10px;
    padding: 14px 15px;
    text-decoration: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    display: block;
    margin: -60px 80px 20px 80px;
    margin-top: -60px;
    margin-top: -62px;
}*/

/*.contact .form-desc h4 {
    padding: 20px 0;
    margin-top: 9px;
}*/

/*.contact .form-desc input.form-control {
    height: 50px;
}
*/
.contact .form-desc .form-control {
    border-radius: 10px;
    margin: 5px 0;
    height: 50px;
}

.contact .cont-desc i.fas.fa-mobile-alt.icon {
    padding: 6px;
}

/*.contact .cont-desc h4 {
    font-size: 20px;
}
*/
/*.contact .cont-desc .other-cont-area p {
    margin: 0;
}
*/
.cont-desc .other-cont-area {
    width: 470px;
}


.contact .message .message-group .form-message .form-control {
   /* height: 50px;*/
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e9e9e9;
   background-color: #f8f8f8;
}

.form-control {
    position: relative;
    display: block;
    border: none;
    border-radius: 3px;
    border: 1px solid #ddd;
    box-shadow: none;
    font-size: 16px;
    height: 47px;
    -webkit-appearance: none;
}

.contact .message .message-group .form-message .form-control.area-from {
    height: 150px;
}

.contact .message .message-group .form-message .btn {
    text-transform: uppercase;
    padding: 15px 40px;
    font-weight: 700;
}

.btn.solid-btn, .btn.btn-solid {
    padding: 12px 20px;
  background:#fbb908;
  border-radius: 5px;
  color:#fff;
  font-weight: 600;
  box-shadow: 6px 6px 6px #aaaaaa;
}


/*service page*/


.about-box {
    padding: 80px 0 70px 0;
}

.services {
    padding-bottom: 35px;
    padding-top: 10px;
}

.services-1 img {
    margin-top: 25px;
}

.services-2 h3 {
    font-size: 24px;
    font-weight: bold;
    color: #131313;
}

hr {
    border-top: 1px solid #91b62366 !important;
}

.all {
    padding-top: 15px;
}

.all a {
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    background: #0aaeb8;
    font-weight: bold;
}

.line {
    border: 1px dashed #0000002e;
    margin-bottom: 25px;
}

/*about page*/

.aboutpage{
  padding: 60px 0 80px;
}

.aboutpage h1 {
    position: relative;
    color: #131313;
    font-weight: 700;
    line-height: 1.2em;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}


.icons-bar1 {
    position: fixed;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 99;
}

.icons-bar1 a {
    display: block;
    text-align: center;
    padding: 10px 11px;
transition: all 0.3s ease;
color: white;
font-size: 27px;
border-radius: 63px;
margin-bottom: 12px;
    box-shadow: 0 3px 5px #a6a6a6;
}
.facebook {
    background: #4867aa;
    color: white;
}

.whats {
    background: #25d366;
    color: white;
}

.navbar-toggle{
    background-color: #fbb908;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.chek {
    float: right;
    padding: 5px 0;
    text-align: center;
}

.chek a{
    background: #0e2b5c !important;
    padding: 7px 10px !important;
    color: #fff !important;
    font-weight: 600;
    /*border: 2px solid #fff;*/
}

.chek a i{
  color: #fbb908;
}

/*.topbar::after {
    background: rgba(0, 0, 0, 0) linear-gradient(to right, #6a253e 0%, #efb6bf 10%, #c86e4c 20%, #0081fe 30%, #fe3c71 40%, #2bd566 50%, #0081fe 60%, #6a253e 70%, #dddddd 80%, #2bd566 90%, #c86e4c 100%) repeat scroll 0 0;
    content: "";
    display: block;
    height: 5px;
    width: 100%;
}*/

/*new start*/

.serhm {
    /*background: #f2f2f29e;*/
    padding:48px 0 20px;
    background: url(../images/ourservicebg.jpg);
        background-size: auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.serhm h4{
 margin-bottom: 52px;
font-size: 32px;
font-weight: 700;
color: #0e2b5c;
text-align: center;
}

.serdet h2 {
  color: #fff;
}

.serdet p {
  color: #fff;
}

.single-blog {
    margin-bottom: 50px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-align: center;
}

.single-blog .content {
    -webkit-box-shadow:0 10px 30px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding: 30px 10px 30px;
    max-width: 345px;
    margin: -61px auto 0;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: relative;
   height: 255px;
}

.single-blog .content::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: #0e2b5c;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.single-blog:hover .content {
    max-width: 100%;
}

.single-blog:hover .content::before {
    height: 100%;
}

.single-blog .content i {
    position: absolute;
    top: -15px;
    right: 15px;
    width: 25px;
    height: 25px;
    background-color: #2f2c52;
    text-align: center;
    line-height: 25px;
    border-radius: 50%;
    color: #ffffff;
    z-index: 1;
}

.single-blog .content h3 {
    font-size: 20px;
    margin: 5px 0 0 0;
    line-height: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: relative;
    z-index: 1;
}

.single-blog .content h3 a{
    color: #0e2b5c;
    font-weight: 600;
    font-size: 20px;
}

.single-blog .content p {
    color: #222;
    padding-bottom: 0px;
   display: block;
    z-index: 1;
    position: relative;
    margin-bottom: 0px;
}

.single-blog .content .blog-btn {
    display: inline-block;
    font-size: 16px;
    color: #d99f05;
    font-family: "Rubik", sans-serif;
    margin-top: 5px;
    position: relative;
    bottom: 0px;
    opacity: 1;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 1;
}

.single-blog:hover .blog-btn {
    opacity: 1;
    color: #ffffff;
}


.single-blog:hover h3 a {
    color: #fff;
}


.single-blog:hover p {
    color: #ffffff;
}

.call-to-action {
  padding: 25px 0 0;
  color: #fff;
  margin-top: -137px;
  margin-bottom: 22px;
}

.call-to-action1 {
  background: #fbb908;
  padding: 25px 10px;
  color: #fff;
  text-align: center;
}


.call-to-action h3 {
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  line-height: 30px;
  margin-bottom: 16px;
}
.call-to-action p {
  margin: 0;
}
.call-to-action a.thm-btn {
    padding: 0px 24px;
    margin: 7px 0;
    border-radius: 25px;
    background: #fff;
    color: #222222;
    letter-spacing: 1px;
    transition:.5s;
}

.call-to-action a.thm-btn.inverse:hover {
  color: #fff;
  background: #202020;
  transition:.5s;

}


.whatsapp {
    right: 10px;
    bottom: 10px;
    position: fixed;
    z-index: 99;
    display: block;
}

.whatsapp img{
  width: 150px;
}

.benifit-list li i{
  color: #0aaeb8;
  font-weight: 600;
  padding-right: 5px;
}

.choose {
  padding: 60px 0;
  background-color: #f9f9f9;
}

.choose h2 {
   font-weight: 600;
  color: #2a2a2a;
  font-size: 40px;
  text-align: center;
}

.feature_service_area {
  color: #ffffff;
}

.feature_service_area {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 35px;
}

.feature_service_box_width {
  margin-right: 2px;
}

.feature_service_box_width {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1 0 20%;
  background-color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  padding: 60px 20px;
  transform: translateY(0px);
  /*border: 1px solid #2a3b61;*/
  box-shadow: 0 8px 30px -7px #c9dff0;
}

.feature_service_box_width i {
  font-size: 55px;
  margin-bottom: 25px;
  display: block;
  transition: all .4s ease;
  color: #0aaeb8;
}

.feature_service_box_width p {
  color: #2a3b61;
  font-size: 17px;
  font-weight: 600;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2em;
  transition: all .4s ease;
}

.serpg{
  padding: 40px 0 60px;
}

.serpg h1 {
    margin-bottom: 35px;
    font-size: 36px;
    font-weight: 700;
    color: #2a2a2a;
    text-align: center;
}

.serpg1{
  padding-bottom: 35px
}

.serpg1 p{
  padding-bottom: 15px;
}

.abt-banner {
    padding: 12px 0 17px;
  
background: #606060;
}

.about-text h2 {
    color: #fff;
    font-size: 26px;
    letter-spacing: 3px;
    font-weight: bold;
}

.about-text p {
    color: #fff;
}

.about-text p a {
    color: #000;
    font-weight: 600;
}

.prodct-det img{
  width: 100%;
}

/*counter start*/

.counter {
    background: url(../images/img-inner1.jpg) center no-repeat;
    background-size: cover;
  /*  background-color:#05325b;*/
    padding: 30px 0 70px;
}

.counter
{
    text-align: center;
}
.employees,.customer,.design,.order
{
    margin-top: 20px;
    margin-bottom: 30px;

}
.counter-count
{
    font-size: 30px;
    border-radius: 50%;
    position: relative;
    color:#fbb908;
    text-align: center;
    line-height: 92px;
    height: 62px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
    font-weight: 600;
}

.customer i{
  color:#fbb908;
  font-size: 25px;
}

.employee-p,.customer-p,.order-p,.design-p
{
    font-size: 22px;
    color:#fff;
    line-height:31px;
    font-weight: 600;
}


.separator {
    line-height: 0.5;
    text-align: center;
    margin: 30px 0 30px 0;
}

.separator span {
    display: inline-block;
    position: relative;
}

.separator {
    line-height: 0.5;
    text-align: center;
}

.separator span::before {
    right: 100%;
    margin-right: 15px;
}

.separator span::after {
    left: 100%;
    margin-left: 15px;
}

.separator span::before, .separator span::after {
    content: "";
    position: absolute;
    border-bottom: 1px solid #49a760;
    top: 0px;
    width: 300px;

}

.separator span i {
    font-size: 12px;
    padding: 0;
    margin: 0;
    float: none;
    color: #FAB207;
}

.customer::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 50px;
    border-left: 1px dashed #49a760;
    left: 0px;
    right: 0px;
    margin: auto;
    top: -15px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.customer::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 58px;
    border-left: 1px dashed #49a760;
    left: 0px;
    right: 0px;
    margin: auto;
    bottom: -48px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.customer:hover::after {
    height: 78px;
}

.customer:hover::before {
    height: 90px;
}


/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.hmclient{
    padding: 0px 0 80px;
    
}

.hmclient1{
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin-top: -39px;
z-index: 99999999999999;
position: relative;
padding: 16px 0px;
}

.hmclient h2{
font-size: 32px;
position: relative;
font-weight: 700;
padding-bottom: 10px;
margin-bottom: 27px;
color: #000;
line-height: 41px;
text-align: center;
}

.slide img{
    box-shadow: 0 0 17px rgba(115,115,115,.19);
margin-bottom: 17px;
}


.process-item {
    text-align: center;
    background-color: #fff;
    padding: 30px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-transition: .5s;
    transition: .5s;
    margin-bottom: 30px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 25px rgba(89, 82, 82, 0.27);
    margin-bottom: 15px;
}

.process-item::before {
    position: absolute;
    content: "";
    height:78%;
    width: 99%;
    background-color:#fbb908;
    left: 0;
    right: 0;
    margin: auto;
    top: -110px;
    z-index: -1;
    border-radius: 50%;
   
}

.process-item:hover::before {
 background-color:#0e2b5c;
}

.process-item .icon {
    margin-bottom: 20px;
    position: relative;
}

.process-item {
    text-align: center;
}

.process-item .icon i {
    display: inline-block;
    height: 90px;
    width: 90px;
    line-height: 90px;
    background-color: #fff;
    text-align: center;
    font-size: 50px;
    color: #e73c3e;
    border-radius: 50px;
    -webkit-transition: .5s;
    transition: .5s;
}

.process-item .icon i {
    line-height: 90px;
    text-align: center;
    font-size: 50px;
    color: #e73c3e;
}

.process-item .icon img {
    width: 75px;
    height: 75px;
    margin: 0 auto;
    display: block;
   /* background-color: #fff;*/
    text-align: center;
    font-size: 50px;
    color: #e73c3e;
    /*border-radius: 50px;*/
    -webkit-transition: .5s;
    transition: .5s;
}

.process-item h3 {
    font-size: 16px;
    margin-bottom: 7px;
    margin-top: 0px;
}

.process-item p a{
    color:#05325b;
    font-size: 15px;
    font-weight: 500;
}


.process-item:hover {

    border: 1px solid #3d3b8a;
}




/*media query start*/

@media only screen and (min-width: 320px) and (max-width: 768px) {
    
 

.topnum ul li {
    padding: 0 0px;
    float: none;
}

.toptime {
    float: none;
}

.topbar {
    padding: 2px 0;
}

.topbar ul li{
    text-align:center !important;
}   

.navbar-brand img {
    width: 276px;
margin-left: -10px;
margin-top: -9px;
}



.navbar-nav > li {
    display: block;
}

.navbar-default .navbar-nav > li > a{
    padding: 9px 15px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding-bottom: 0px;
    margin-top: 15px;
}

.hmabout {
    padding: 14px 0;
}

.abdetail h2 span {
    font-size: 33px;
}

.abimg img{
  margin-top: 20px;
}

.serhm {
    padding: 17px 0 52px;
}

.service_box{
  margin-bottom: 10px;
}

.serhm h4 {
    margin-bottom: 21px;
  }

.reahdet h2 {
    font-size: 23px;
}

.reahdet {
    padding-top: 26px;
    padding-bottom: 16px;
}

.whathm {
    padding: 15px 0;
}

.enqform {
    padding: 9px 4px;
    margin-top: 29px;
}

.enqform h2 {
    padding-left: 8px;
    padding-bottom: 18px;
    font-size: 23px;
}

.pjotm{
  margin-bottom: 5px;
}

.footer {
    padding: 17px 0 80px;
}

.footerbtm {
    margin-top: 17px;
    border-top: 1px solid #ddd;
    padding-top: 24px;
}

#callme a i {
    padding-left: 10px;
    font-size: 36px;
    padding-top: 7px;
}

.aboutpage {
    padding: 8px 0 20px;
}

.about-box {
    padding: 0px 0 8px 0;
}

.services-2 h3 {
    font-size: 22px;
  }

.title-section.t-border h2{
  font-size: 29px;
}

.space1 {
    padding: 11px 0 130px;
}


.contact .cont-desc .other-cont-area {
    padding: 15px 8px 15px 0px;
    margin-bottom: 19px !important;
}

.contact .cont-desc .icon {
    width: 32px;
    height: 67px;
    font-size: 25px;
}

.contact .other-cont-area h4{
    font-size: 18px;
    margin-top: 3px;
margin-bottom: 4px;
}

.contact .other-cont-area p{
    font-size: 14px;
}


.cont-desc .other-cont-area {
    width: 335px;
}

.form-field input{
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 0px;
}

.form-field textarea{
        margin-bottom: 15px;
}


.topnum1::after{
  display: none;
}

.topb {
    padding-left: 15px;
}

.topnum1 {
    background: #0aaeb8;
    padding: ;
    padding: 10px 12px 2px;
    display: none;}

.navbar {
    padding: 15px 5px;}


.chek {
    float: left;
    padding: 5px 0;
}

.enqform .form-control {
    border-radius: 0px;
    margin-bottom: 15px;
}

.feature_service_area {
    display: block;
    margin-bottom: 20px;
}


.feature_service_box_width{
  padding: 33px 20px;
  margin-bottom: 15px;
}


.item1, .item2, .item3, .item4, .item5, .item6, .item7{
     height: 65vh !important;
}


.resp-vtabs .resp-tabs-container {
    margin-left: 0px !important;
}

.slide-text > p span {
    color: #ffd863;
    font-size: 26px  !important;
}


.hmclient {
    padding: 0px 0 26px;
}


.single-blog img{
  width: 100%;
}

.error{
    color: red;
    font-size: 14px;
}

.messages1{
    color:green;
    padding-bottom:5px;
}

}